---
layout: default
title: 笨笨大事件
section_id: portfolio
works:
  - image: images/@stock/work-1.jpg
    title: 上海项目
    link_to: portfolio-item.html
    klass: graphic-design
    desc: Design &amp; Development
  - image: images/@stock/work-2.jpg
    title: 成都项目
    link_to: portfolio-item.html
    klass: web-design print
    desc: Design &amp; Development
  - image: images/@stock/work-3.jpg
    title: 天津项目
    link_to: portfolio-item.html
    klass: brand
    desc: Design &amp; Development
  - image: images/@stock/work-4.jpg
    title: 重庆项目
    link_to: portfolio-item.html
    klass: development
    desc: Design &amp; Development
  - image: images/@stock/work-5.jpg
    title: 保定项目
    link_to: portfolio-item.html
    klass: print brand
    desc: Design &amp; Development
  - image: images/@stock/work-6.jpg
    title: 淄博项目
    link_to: portfolio-item.html
    klass: web-design
    desc: Design &amp; Development
  - image: images/@stock/work-7.jpg
    title: 济南项目
    link_to: portfolio-item.html
    klass: web-design
    desc: Design &amp; Development
  - image: images/@stock/work-8.jpg
    title: 东营项目
    link_to: portfolio-item.html
    klass: graphic-design
    desc: Design &amp; Development
  - image: images/@stock/work-1.jpg
    title: 青岛项目
    link_to: portfolio-item.html
    klass: development print
    desc: Design &amp; Development
  - image: images/@stock/work-2.jpg
    title: 烟台项目
    link_to: portfolio-item.html
    klass: brand
    desc: Design &amp; Development
  - image: images/@stock/work-3.jpg
    title: 石家庄项目
    link_to: portfolio-item.html
    klass: web-design
    desc: Design &amp; Development
  - image: images/@stock/work-4.jpg
    title: 可米定制项目
    link_to: portfolio-item.html
    klass: print
    desc: Design &amp; Development
  - image: images/@stock/work-5.jpg
    title: 优生活项目
    link_to: portfolio-item.html
    klass: graphic-design
    desc: Design &amp; Development
  - image: images/@stock/work-6.jpg
    title: 南充项目
    link_to: portfolio-item.html
    klass: development
    desc: Design &amp; Development
  - image: images/@stock/work-7.jpg
    title: 北京项目
    link_to: portfolio-item.html
    klass: print
    desc: Design &amp; Development
  - image: images/@stock/work-8.jpg
    title: 北京项目
    link_to: portfolio-item.html
    klass: graphic-design
    desc: Design &amp; Development
---


<div class='full parallax' style='background-image: url(images/@stock/portfolio-header-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="笨笨大事件" tagline="关注笨笨的作业" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>全部</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>平面设计</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>结构设计</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>品牌设计</a>
          </li>
          <li>
            <a data-cat='development' href='#'>专利设计</a>
          </li>
          <li>
            <a data-cat='print' href='#'>情景设计</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>
