---
layout: default
title: 贴心服务
section_id: services
services_left:
  - icon: trophy
    title: 创新设计
    desc: 设计让生活更舒适
  - icon: cogs
    title: 布局设计
    desc: 给自家的房子一个更舒适的呼吸的姿势
  - icon: pagelines
    title: 笨笨品牌
    desc: 快乐生活
  - icon: lock
    title: 安全性
    desc: 系统稳定
services_right:
  - icon: compass
    title: 科技与艺术
    desc: 黑科技
  - icon: image
    title: 岁月留声
    desc: 精彩流露
  - icon: database
    title: 数据支持
    desc: 更支持你哦！
  - icon: film
    title: 精彩瞬间 
    desc: 不见不散
---

<div class='full parallax' style='background-image: url(images/@stock/service-page-header.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="笨笨服务" tagline="了解我们做的项目" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services_right %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>
