<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='index.html'>
          <img alt="" src="{{site.url}}/images/logo-grey.png" />
        </a>
      </h1>
      <p>©2012-2018 笨笨科技版权所有.</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>更多精彩</h4>
        <ul>
          <li><a href="index.html">首页</a></li>
          <li><a href="portfolio.html">笨笨作业</a></li>
          <li><a href="blog.html">博客互动</a></li>
          <li><a href="contact.html">联系笨笨</a></li>
          <li><a href="services.html">笨笨服务</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>最新发布</h4>
        <ul>
          {% for post in site.posts %}
            <li><a href="{{post.url}}">{{post.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>联系笨笨</h4>
      <ul>
        <li>电话： +86 131 2147 9367</li>
        <li>电邮： ecbentech@163.com</li>
        <li>地址：北京市昌平区府学路33号</li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href='http://www.taichi-maker.com'>\*这个是网页底部的F图标链接*\
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li>
          <a href='http://www.163.com'>\*这个是网页底部的F图标链接*\
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        <li>
          <a href='http://www.sina.com'>\*这个是网页底部的F图标链接*\
            <i class='fa fa-dribbble'></i>
          </a>
        </li>
        <li>
          <a href='http://www.51cto.com'>\*这个是网页底部的F图标链接*\
            <i class='fa fa-tumblr'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
