<div class='links'>
  <h3>存档</h3>
  <ul>
    <li>
      <a href='#'>December 2011</a>
      <span>(2)</span>
    </li>
    <li>
      <a href='#'>November 2011</a>
      <span>(4)</span>
    </li>
    <li>
      <a href='#'>October 2011</a>
      <span>(1)</span>
    </li>
    <li>
      <a href='#'>September 2011</a>
      <span>(3)</span>
    </li>
    <li>
      <a href='#'>July 2011</a>
      <span>(5)</span>
    </li>
    <li>
      <a href='#'>June 2011</a>
      <span>(3)</span>
    </li>
    <li>
      <a href='#'>May 2011</a>
      <span>(6)</span>
    </li>
    <li>
      <a href='#'>April 2011</a>
      <span>(1)</span>
    </li>
  </ul>
</div>
<div class='links'>
  <h3>分类</h3>
  <ul>
    <li>
      <a href='#'>产品设计</a>
    </li>
    <li>
      <a href='#'>新品研发</a>
    </li>
    <li>
      <a href='#'>仿真测试</a>
    </li>
    <li>
      <a href='#'>实例展示</a>
    </li>
    <li>
      <a href='#'>笨笨标志</a>
    </li>
    <li>
      <a href='#'>更多精彩</a>
    </li>
  </ul>
</div>
<div class='links'>
  <h3>最新内容</h3>
  <ul>
    <li>
      <a href='#'>追逐卓越，永不言败</a>
    </li>
    <li>
      <a href='#'>做你心中哪款精品正是笨笨科技的一贯风格</a>
    </li>
    <li>
      <a href='#'>助力孩子的健康成长</a>
    </li>
    <li>
      <a href='#'>会呼吸的房子</a>
    </li>
    <li>
      <a href='#'>加油！笨笨</a>
    </li>
  </ul>
</div>
<!-- <div class='links'>
  <h3>笨笨科技，向幸福出发</h3>
  <ul>
    <li>
      <a href='#'>商标</a>
    </li>
    <li>
      <a href='#'>完善和发展</a>
    </li>
    <li>
      <a href='#'>设计中的科技和艺术</a>
    </li>
    <li>
      <a href='#'>完美展现</a>
    </li>
    <li>
      <a href='#'>笨笨新消息</a>
    </li>
    <li>
      <a href='#'>我们一起玩耍吧</a>
    </li>
  </ul>
</div> -->
