---
layout: blog
section_id: blog
---


<div class='row'>
  <div class='large-12 columns'>
    <div class='mod modBlogPost big'>
      <div class='images'>
        {% for image in page.images %}
          <div class='image'><img alt="" src="{{site.url}}/{{image}}" /></div>
        {% endfor %}
      </div>
      <div class='content'>
        <p class='info'>
          <span>{{page.date | date: "%B %d, %Y" }}</span>
          /
          <span>
            by {{page.author}}
          </span>
          /
          <span>
            <a href="#">4 p性价</a>
          </span>
        </p>
        <h3><a href="{{page.url}}">{{page.title}}</a></h3>
        {{ content }}
      </div>
    </div>
    <div class='two spacing'></div>
    <a id='comments'></a>
    <div class='comments-wrapper'>
      <h3 class='comments-count'>6 Comments</h3>
      <ul class='comments'>
        <li>
          <div class='meta'>
            <p class='avatar'>
              <img width="39" height="39" alt="" src="{{site.url}}/images/avatar.png" />
            </p>
            <p class='info'>
              <span class='name'>圆圆</span>
              <span class='datetime'>Apr 12, 2018 at 3:30 pm</span>
              <a href='#comment-form'>回复</a>
            </p>
          </div>
          <p>
            陪你去看繁星满天
          </p>
        </li>
        <li>
          <div class='meta'>
            <p class='avatar'>
              <img width="39" height="39" alt="" src="{{site.url}}/images/avatar.png" />
            </p>
            <p class='info'>
              <span class='name'>笨小孩</span>
              <span class='datetime'>Apr 12, 2018 at 3:30 pm</span>
              <a href='#comment-form'>回复</a>
            </p>
          </div>
          <p>岁月和光阴的故事</p>
          <ul class='children'>
            <li>
              <div class='meta'>
                <p class='avatar'>
                  <img width="39" height="39" alt="" src="{{site.url}}/images/avatar.png" />
                </p>
                <p class='info'>
                  <span class='name'>小屁孩</span>
                  <span class='datetime'>Apr 12, 2018 at 3:30 pm</span>
                  <a href='#comment-form'>回复</a>
                </p>
              </div>
              <p>笨笨品质，我放心</p>
            </li>
          </ul>
        </li>
        <li>
          <div class='meta'>
            <p class='avatar'>
              <img width="39" height="39" alt="" src="{{site.url}}/images/avatar.png" />
            </p>
            <p class='info'>
              <span class='name'>老男孩</span>
              <span class='datetime'>Apr 12, 2018 at 3:30 pm</span>
              <a href='#comment-form'>回复</a>
            </p>
          </div>
          <p>我们一起牵手的岁月</p>
        </li>
      </ul>
    </div>
    <div class='four spacing'></div>
    <div id='comments-form'>
      <h3>您的评价</h3>
      <form accept-charset='UTF-8' action='#' method='post'>
        <p class='name'>
          <label for='name'>您的姓名</label>
          <input class='input-text required' id='name' name='name' type='text'>
        </p>
        <p class='email'>
          <label for='email'>您的电邮</label>
          <input class='input-text required' id='email' name='email' type='text'>
        </p>
        <p class='message'>
          <label for='message'>您的信息</label>
          <textarea class='required' cols='80' id='message' name='message' rows='5'></textarea>
        </p>
        <div class='spacing'></div>
        <p>
          <input class='button' type='submit' value='Send Message'>
        </p>
      </form>
    </div>
    <div class='four spacing'></div>
  </div>
</div>
